<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% block head %}
        <link rel="stylesheet" href="/static/style.css" />
        <title>{% block title %}DEFAULT_TITLE{% endblock title %} - My Webpage</title>
        {% endblock head %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock content %}</div>
        <div id="footer">
            {% block footer %}
            &copy; Copyright 2022 by <a href="http://domain.invalid/">Keesh</a>.
            {% endblock footer %}
        </div>
    </body>
</html>
