{% extends "base.html" %}

{% block title %}{{title}}{% endblock title %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/vendors/graphiql-2.0.7.min.css"/>
    <style type="text/css">
    :root {
    }
    body {
        height: 100%;
        margin: 0;
        width: 100%;
        overflow: hidden;
    }

    #graphiql {
        height: 80vh;
    }
    .graphiql-sidebar, .graphiql-main *, .graphiql-sidebar * {
          box-sizing: content-box;
    }
    .graphiql-container .graphiql-sessions, .graphiql-container .graphiql-editors {
        border-radius:0;
    }
    </style>
{% endblock head %}

{% block content %}
    <div id="graphiql">Loading...</div>
{% endblock content %}

{% block scripts %}
    <script type="text/javascript" src="/static/vendors/react.production-17.0.2.min.js"></script>
    <script type="text/javascript" src="/static/vendors/react-dom.production-17.0.2.min.js"></script>
    <script type="text/javascript" src="/static/vendors/graphiql-2.0.7.min.js"></script>
    <script type="text/javascript">
    const url = 'http://127.0.0.1:4000/graphql';
    const subscriptionUrl = 'ws://127.0.0.1:4000/graphql';
    const fetcher = GraphiQL.createFetcher({ url, subscriptionUrl });

    ReactDOM.render(
        React.createElement(GraphiQL, {
            fetcher: fetcher,
            isHeadersEditorEnabled: true,
            shouldPersistHeaders: true
        }),
        document.getElementById('graphiql'),
    );
    </script>
{% endblock scripts %}